<div class="profileHeadline">
	<%= image_tag "default_profile_picture.png", :alt => "profile picture" %>
	<h1><%= @user.name %></h1>
	<% if(current_user.admin || current_user==@user) %>
		<div class="profileOptions"><%= link_to 'Edit', edit_user_path(@user) %>&nbsp;|&nbsp;<%= link_to 'Back', users_path %></div>
	<% end %>
</div>

<div class="profileDescription">
	<p>
		<b>Email:</b>
		<%= @user.email %>
	</p>
</div>
<div class="profileNewPost">
	<p>	
		<% if current_user == @user %>
		<strong>New Post:</strong>	
			<%= form_for(@post) do |f| %>
		   		<%= f.text_area :content %>
		   		<%= f.hidden_field :user_id, :value => current_user.id %> 
		   		<%= f.submit %>
		 	<% end %>
	 	<% end %>
	</p>
</div>
<div class="profilePosts">
	<p>	
		<% if @posts.any? %>
		<b>Posts:</b> <%= @posts.count %>
		<ul class="posts">
			<%= render @posts %>	
		</ul>
		<% end %>
	</p>
</div>

