<p id="notice"><%= notice %></p>

<p>
	<b>Name:</b>
	<%= @user.name %>
</p>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

<p>	
	<b>Posts:</b> <%= @user.posts.count %>
	<% if @user.posts.any? %>
	<ul>
		<% @user.posts.each do |post| %>
		<li><%= post.content %></li>
		<% end %>
	</ul>
	<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>