<p id="notice"><%= notice %></p>

<p>
	<b>Name:</b>
	<%= @user.name %>
</p>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>
<p>
	<strong>New Post:</strong>	
	<%= form_for(@post) do |f| %>
   		<%= f.text_field :content %>
   		<%= f.hidden_field :user_id, :value => current_user.id %> 
   		<%= f.submit %>
 	<% end %>
</p>
<p>	
	<% if @posts.any? %>
	<b>Posts:</b> <%= @posts.count %>
	<ul class="posts">
		<%= render @posts %>	
	</ul>
	<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>