<!DOCTYPE html>
<html>
<head>
  <title>Headbook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">

	    <div class="container">
	    	<div id="navbar-inner-left">
	    		<% if user_signed_in? %>
					<%= active_link_to current_user.name ? current_user.name : current_user.email, current_user, :class => "brand" %>	      		
				<% else %>
					<%= active_link_to 'Head Book', '/', :class => "brand" %>
	      		<% end %>

				<ul class="nav">
		    		<%= active_link_to 'Users', '/users', :wrap_tag => :li %>
	        		<%= active_link_to 'Posts', '/posts', :wrap_tag => :li %>
	      		</ul>
	  		</div>

	  		<div id="navbar-inner-right">
  				<% if user_signed_in? %>
	         		<%= active_link_to "Logout", destroy_user_session_path, :method => :delete, :class => "brand" %>
	      		<% else %>
	         		<%= active_link_to "Login", new_user_session_path, :method => :get, :class => "brand" %>
	      		<% end %>
      		</div>
	    </div>
	  </div>
	</div>
	<% if notice %><div class="notice"><%= notice %></div><% end %>
	<div class="container"><%= yield %></div>

<footer>
  <div class="container">&copy; Jacopo Ghisolfi &amp; Torsten R&uuml;ter 2012</div>
  <div class="bonbon"><%= link_to image_tag("bonbon.png", :alt => "eat a superbonbonb"), make_admin_path(current_user) %></div>
</footer>

</body>
</html>
