<!DOCTYPE html>
<html>
<head>
  <title>Headbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
		<%= active_link_to 'Head Book', '/', :class => "brand" %><%
		# active_link_to provided via gem
		%>
	      <ul class="nav">
		    <%= active_link_to 'Users', '/users', :wrap_tag => :li %>
	        <%= active_link_to 'Posts', '/posts', :wrap_tag => :li %>
	      </ul>
	    </div>
	  </div>
	</div>
	
	<div class="container"><%= yield %></div>

<footer>
  <div class="container">&copy; Jacopo Ghisolfi &amp; Torsten R&uuml;ter 2012</div>
</footer>

</body>
</html>
